GlobalAssemblyInfo.cs
obj
bin
Bin
deploy
deploy/*
Elmah.db
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
~$*
*.swp
CoreOutput/
CoreTestsOutput/
ExampleOutput/
ExampleTestsOutput/
TestsReport/
TestSupportOutput/
UtilitiesOutput/
WebOutput/