<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
		<section name="queries" type="AbstractAir.Queries.QueryConfiguration, AbstractAir.Queries"/>
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
	</configSections>

	<log4net configSource="log4net.config"/>

	<MsmqTransportConfig InputQueue="ExampleQueryUpdateServiceInputQueue"
		ErrorQueue="error"
		NumberOfWorkerThreads="1"
		MaxRetries="5"/>

	<queries database="example" server="localhost" serverPort="27017" options=""/>
	
	<UnicastBusConfig>
		<MessageEndpointMappings>
			<add Messages="AbstractAir.Examples.Messages" Endpoint="ExampleServiceInputQueue" />
		</MessageEndpointMappings>
	</UnicastBusConfig>
</configuration>
