<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="MsmqSubscriptionStorageConfig" type="NServiceBus.Config.MsmqSubscriptionStorageConfig, NServiceBus.Core" />
		<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
		<section name="persistence" type="AbstractAir.Persistence.PersistenceConfiguration, AbstractAir.Persistence"/>
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
	</configSections>

	<log4net configSource="log4net.config"/>

	<MsmqSubscriptionStorageConfig Queue="Subscriptions"/>
	
	<MsmqTransportConfig InputQueue="ExampleServiceInputQueue"
		ErrorQueue="error"
		NumberOfWorkerThreads="1"
		MaxRetries="5"/>

	<persistence connectionString="Server=localhost; Initial Catalog=ExampleService; Integrated Security=SSPI;"/>

	<UnicastBusConfig DistributorControlAddress="" DistributorDataAddress="" ForwardReceivedMessagesTo="">
		<MessageEndpointMappings>
		</MessageEndpointMappings>
	</UnicastBusConfig>
</configuration>
